@import 'tailwindcss';

:root {
  --marie-gold: #e0c49a;
}

@theme {
  --color-marie-gold: var(--marie-gold);
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.side-padding {
  padding: 0 5rem;
}

a,
button {
  cursor: pointer;
}
nav {
  font-weight: 600;
}

.nav-link {
  opacity: 0.5;
}

.nav-link {
  font-size: 1.3rem;
  transition: all 0.2s;
}
.nav-link:hover {
  opacity: 0.7;
}

.nav-link.active {
  opacity: 1;
}

.picture {
  border-radius: 5px;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  margin: 0 auto;

  label {
    font-weight: 600;
    font-size: 1.2rem;
  }

  input,
  textarea {
    border-radius: 10px;
    margin-top: 0.25rem;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #d1d5db;
    margin-bottom: 0.5rem;
    outline: none;
    transition: all 0.2s;
  }

  input:focus,
  textarea:focus {
    border-color: black; /* blue-500 */
  }
}

body.bg-musicians,
body.bg-equestrian,
body.bg-my-universe {
  transition: all 0.2s;
}
